<div class="search-form mt-4 ml-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Enter key</label>
            <input type="text" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="Enter key" name="q">
            <input type="text" name="name" class="form-control" id="">
            <input type="text" name="age" class="form-control" id="">

            <small id="emailHelp" class="form-text text-muted">Enter your key and go ahead.</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>